* {
  outline: none !important;
}
html {
  min-height: 100%;
}
body {
  min-height: 100vh;
  line-height: 1.8em;
  overflow-x: hidden;
  font-size: 14px;
  color: $color-primary;
  font-family: $font-family-text;
  font-weight: $font-weight-regular;
  @include flexbox();
  @include flex-direction(column);
}
.sticky-footer {
  flex: 1 0 auto;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 15px;
  font-weight: $font-weight-bold;
  color: $color-title;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
}
a {
  color: $color-primary;
  @include transition(all 0.4s ease-in-out);

  &:hover,
  &:focus {
    text-decoration: none;
  }
  &:hover {
    color: $color-hover;
  }
}
p {
  margin: 0 0 15px;

  &:last-child {
    margin-bottom: 0;
  }
}
figure {
  margin: 0;
}
img {
  max-width: 100%;
  height: auto;
}
iframe {
  max-width: 100%;
}
blockquote {
  border-left: 1px solid $color-hover;
  padding-left: 30px;
}
pre {
  white-space: pre-wrap;
  margin-bottom: 30px;
}
.nav {
  > li {
    > a {
      &:focus {
        background-color: transparent;
      }
    }
  }
}
.form-control {
  &:focus {
    border-color: $color-hover;
    @include box-shadow(none);
  }
}
#site-loadding {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #ffffff;
  z-index: 99999;
}
#back-top {
  background-color: $background-hover;
  opacity: 0;
  width: 40px;
  height: 40px;
  bottom: 0;
  cursor: pointer;
  position: fixed;
  right: 15px;
  z-index: 1000;
  @include transition(all 400ms ease-in-out);

  a {
    display: block;
    color: #ffffff;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    @include transition(all 0.25s ease-in-out);
  }
  &.active_top {
    opacity: 1;
    bottom: 15px;
  }
  &:hover {
    background-color: $background-primary;
  }
}
/* Social network */
.social-network-item {
  display: inline-block;
  margin-right: 5px;

  &:last-child {
    margin-right: 0;
  }
  a {
    display: block;
    color: #ffffff;
  }
  &.item-facebook {
    background-color: #3b5998;
  }
  &.item-twitter {
    background-color: #1da1f2;
  }
  &.item-google-plus {
    background-color: #dd4b39;
  }
  &.item-linkedin {
    background-color: #0077B5;
  }
  &.item-pinterest {
    background-color: #bd081c;
  }
  &.item-youtube {
    background-color: #cd201f;
  }
  &.item-instagram {
    background-color: #e4405f;
  }
  &.item-vimeo {
    background-color: #1ab7ea;
  }
}
.social-network-toTopFromBottom {
  .social-network-item {
    overflow: hidden;

    &:hover {
      i.fa {
        -webkit-animation: toTopFromBottom 0.4s forwards;
        -moz-animation: toTopFromBottom 0.4s forwards;
        animation: toTopFromBottom 0.4s forwards;
      }
    }
  }
}
@-webkit-keyframes toTopFromBottom {
  49% {
    -webkit-transform: translateY(-100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(100%);
  }
  51% {
    opacity: 1;
  }
}
@-moz-keyframes toTopFromBottom {
  49% {
    -moz-transform: translateY(-100%);
  }
  50% {
    opacity: 0;
    -moz-transform: translateY(100%);
  }
  51% {
    opacity: 1;
  }
}
@keyframes toTopFromBottom {
  49% {
    transform: translateY(-100%);
  }
  50% {
    opacity: 0;
    transform: translateY(100%);
  }
  51% {
    opacity: 1;
  }
}
/* owl carousel navigation */
.owl-carousel {
  .owl-nav {
    text-align: center;
    margin-top: 15px;

    button {
      &.owl-next,
      &.owl-prev {
        display: inline-block;
        margin: 0 5px;
        padding: 5px 15px !important;
        background-color: #ff5555;
        @include border-radius(5px);
        @include transition(all 0.4s ease-in-out);

        &:hover {
          background-color: #333333;
        }
      }
      i.fa {
        color: #ffffff;
        font-size: 20px;
        line-height: inherit;
        @include transition(all 0.4s ease-in-out);
      }
    }
  }
  .owl-dots {
    padding: 10px 0;
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);

    .owl-dot {
      display: inline-block;
      margin: 0 5px;

      span {
        display: block;
        width: 10px;
        height: 10px;
        background-color: #000000;
        @include border-radius(50%);
        @include transition(all 0.2s ease-in-out);
      }
      &.active,
      &:hover {
        span {
          background-color: #ff5555;
        }
      }
    }
  }
}