header {
  &.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: rgba(0,0,0,0.4);
    @include transition(all 0.4s ease-out);

    &.header-fix {
      background-color: $background-hover;
      box-shadow: 0 4px 4px -2px rgba(0,0,0,.15);

      .header-bottom {
        min-height: 50px;
      }
      .site-logo {
        img {
          width: 120px !important;
        }
      }
      .site-menu {
        ul {
          > li {
            padding: 15px 0;
          }
        }
      }
    }
    .navbar {
      margin: 0;
    }
  }
}
.header-bottom {
  min-height: 70px;
  @include transition(all 0.4s ease-out);

  button {
    &.navbar-toggler {
      padding: 0;
      border: 0;
    }
  }
}
.site-logo {
  @include flex(0 0 auto);

  a {
    display: inline-block;
    line-height: 64px;
  }
  .logo-default {
    width: 12%;
  }
  img {
    @include transition(all 0.4s ease-out);
  }
}
.site-menu {
  @include flex(1);
}
.site-menu {
  ul {
    padding: 0;
    margin: 0;

    li {
      display: inline-block;
      padding: 25px 0;
      position: relative;
      @include transition(all 0.4s ease-out);

      a {
        padding: 0 15px;
        text-shadow: none;
        display: block;
        color: #ffffff;
        font-size: 16px;
        text-transform: uppercase;

        &:hover {
          background-color: transparent;
          color: $color-hover;
        }
      }
      &:last-child {
        a {
          padding-right: 0;
        }
      }
      .sub-menu {
        min-width: 160px;
        border-top: 1px solid $color-hover;
        background-color: $border-color;
        position: absolute;
        top: 120%;
        left: 0;
        z-index: -1;
        visibility: hidden;
        opacity: 0;
        @include transition(all 0.4s ease-out);

        li {
          padding: 8px 0;
          display: block;

          a {
            white-space: nowrap;
          }
          .sub-menu {
            left: 90%;
            top: -1px;
          }
          &:hover {
            > .sub-menu {
              left: 100%;
            }
          }
        }
      }
      &:hover {
        > .sub-menu {
          top: 100%;
          z-index: 999;
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}
.icon_menu_item_mobile {
  display: none;
  position: absolute;
  right: 15px;
  top: 15px;
  width: 12px;
  height: 20px;
  font-size: 14px;
  cursor: pointer;

  &:after {
    content: "\f078";
    display: inline-block;
    font-family: 'Font Awesome 5 Free';
    font-style: normal;
    font-weight: 900;
  }
  &.icon_menu_item_mobile_active {
    &:after {
      content: "\f077";
    }
  }
}