.site-footer {
  background-color: #333;
  color: #ffffff;
  padding-bottom: 65px;

  section {
    &.widget {
      margin-bottom: 15px;

      .widget-title {
        color: #ffffff;
      }
      a {
        color: #ffffff;
      }
      &.widget_text {
        ul {
          list-style-type: inherit;
          padding-left: 15px;

          li {
            padding: 0;
            border-bottom: none;
          }
        }
      }
    }
  }
}
.site-footer__multi-column {
  padding: 30px 0 0;

  .item-multi-column  {
    &:last-child {
      margin-top: 20px;
      padding-top: 30px;
      border-top: 1px solid #5d5d5d;
    }
  }
}
.site-footer__text {
  padding: 20px 0;
  border-bottom: 1px solid #666;
}
.site-copyright {
  font-size: 12px;

  p {
    &:last-child {
      margin: 0;
    }
  }
}
.site-footer__menu {
  @include flex(1);

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      padding: 0 5px;

      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
      a {
        font-size: 16px;
        color: #ffffff;
      }
    }
  }
}
.site-footer__social {
  .txt-connect {
    margin: 0 15px 0 0;
  }
}
.site-footer-fix {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f1f0e8;
  box-shadow: 5px 4px 15px #555;
  z-index: 99;

  .text-hotline {
    display: inline-block;
    font-size: 20px;
    padding: 15px 30px 15px 85px;
    background-color: rgb(231, 67, 78);
  }
}
.site-footer-fix__left {
  p {
    margin: 0;
  }
  .list-hotline {
    padding: 10px 10px 10px 30px;
    color: #333333;

    .list-hotline__box {
      padding-right: 30px;

      &:last-child {
        padding-right: 0;
      }
    }
  }
}
.site-footer-fix__right {
  padding-right: 60px;
  padding-left: 15px;

  span {
    font-size: 20px;
    color: #e7434e;
    font-weight: 700;
    text-transform: uppercase;
  }
}