#site-gallery-tour {
  .item-gallery {
    img {
      width: 100%;
    }
  }
}
.site-single-tour {
  .site-image-tour {
    margin-bottom: 20px;

    .lSAction {
      a {
        width: auto;
        height: auto;
        color: #ffffff;
        font-size: 30px;
        opacity: 1;
        z-index: 10;
        @include transition(all 0.4s ease-in-out);

        &.lSPrev {
          left: -30px;
        }
        &.lSNext {
          right: -30px;
        }
        &:hover {
          color: $background-hover;
        }
      }
    }
    &:hover {
      .lSAction {
        a {
          &.lSPrev {
            left: 15px;
          }
          &.lSNext {
            right: 15px;
          }
        }
      }
    }
  }
  .single-info-tour {
    .title {
      font-size: 24px;
      text-transform: uppercase;
      margin-bottom: 10px;
    }
  }
  .single-info-tour__box {
    span {
      &.price {
        display: block;
        font-size: 26px;
        font-weight: bold;
        color: $color-title-hover;

        ins {
          text-decoration: none;
        }
        del {
          font-size: 18px;
        }
      }
    }
  }
  .single-info-tour__meta {
    .item {
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }
      span {
        &.title-label {
          display: inline-block;
          width: 120px;
        }
      }
    }
  }
}